@media screen and (max-width: 768px) {
    .wrapper {
        padding: 50px 100px;
    }
    
}

@media screen and (max-width: 640px) {
    .wrapper {
        padding: 30px;
    }
    .socialButton {
        font-weight: 400;
        font-size: 14px;
    }
}